<div class="container">
<mat-tab-group color="primary" backgroundColor="primary">

  <!--Formulario Editar Marcas-->
  <mat-tab label="Marcas">

<!--Formulario -->

        <form [formGroup]="FormularioBrands" style="margin-top:10%">

          <div class="form-group">
            <input type="text" placeholder="Marca" class="form-control" formControlName="brand" />
            <!--Alerta de error-->
            <div *ngIf="FormularioBrands.controls.brand.invalid" class="alert alert-danger">
              <div *ngIf="FormularioBrands.controls.brand.errors.required">
                Este campo es requerido
              </div>
            </div>
            
            <button class="btn btn-success" (click)="AgregarMarca()">Agregar</button>
 <button class="btn btn-warning" (click)=" ActualizarMarca()">Modificar</button>
          </div>
          <div class="btn-group btn-group-justified">
 
</div>
</form>


<!--Fin formulario -->

   <table class="table table-hover">
   <thead>
    <tr>
      <th scope="col">Numero</th>
      <th scope="col">Marca</th>
      <th scope="col">Editar</th>
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of arrayBrands"  class="table-primary" [class.table-warning]="item == brandActual" >
      <th  scope="row">{{item.id_brand}}</th>
      <td>{{item.brand}}</td>
      <td>
      <button mat-fab color="primary"  (click)="openForEdit(item);isSelected=true" aria-label="Example icon button with a delete icon">
          <mat-icon >edit</mat-icon>
        </button>
      </td>
    </tr>
    
  </tbody>
</table> 

    </mat-tab>
    <mat-tab label="Diseños Personalizados">


<!--Formulario -->

        <form [formGroup]="FormularioBrands" style="margin-top:10%">

          <div class="form-group">
          <label for="Marca">Nombre del diseño personalizado</label>
            <input id="Marca" type="text" class="form-control" formControlName="brand" />
            <!--Alerta de error-->
            <div *ngIf="FormularioBrands.controls.brand.invalid" class="alert alert-danger">
              <div *ngIf="FormularioBrands.controls.brand.errors.required">
                Este campo es requerido
              </div>
            </div>


   <div class="form-group">
    <label for="exampleFormControlTextarea1">Descripción</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
            <!--Alerta de error-->
            <div *ngIf="FormularioBrands.controls.brand.invalid" class="alert alert-danger">
              <div *ngIf="FormularioBrands.controls.brand.errors.required">
                Este campo es requerido
              </div>
            </div>

<input type="file" placeholder="imagen" class="form-control" formControlName="brand" />
            <!--Alerta de error-->
            <div *ngIf="FormularioBrands.controls.brand.invalid" class="alert alert-danger">
              <div *ngIf="FormularioBrands.controls.brand.errors.required">
                Este campo es requerido
              </div>
            </div>
            
            <button class="btn btn-success" (click)="AgregarMarca()">Agregar</button>
 <button class="btn btn-warning" (click)=" ActualizarMarca()">Modificar</button>
          </div>
          <div class="btn-group btn-group-justified">
 
</div>
</form>


<!--Fin formulario -->


    </mat-tab>

</mat-tab-group>
</div>