<div class="container">

<div class="row">
    <div class="col-sm">
       <mat-form-field appearance="fill">
  <mat-label>Sub Categoria</mat-label>
  <mat-select [(value)]="subCategorie">
   <mat-option [value]="">No buscar</mat-option>
    <mat-option *ngFor="let subcategorie of subcategories" [value]="subcategorie.sub_category">
      {{subcategorie.sub_category}}
    </mat-option>
  </mat-select>

</mat-form-field>
    </div>
    <div class="col-sm">
         <mat-form-field appearance="fill">
  <mat-label>Genero</mat-label>
  <mat-select [(value)]="gender">
   <mat-option [value]="">No buscar</mat-option>
    <mat-option *ngFor="let gender of genders" [value]="gender.gender">
      {{gender.gender}}
    </mat-option>
  </mat-select>
 
</mat-form-field>
    </div>
    <div class="col-sm">
    <mat-form-field appearance="fill">
  <mat-label>Marca</mat-label>
  <mat-select [(value)]="brand">
   <mat-option [value]="">No buscar</mat-option>
    <mat-option *ngFor="let brand of brands" [value]="brand.brand">
      {{brand.brand}}
    </mat-option>
  </mat-select>
</mat-form-field>
    </div>
</div>
<div class="row">
<div class="container">
 <button class="btn btn-dark"(click)="BuscarProducts()" >Buscar</button>
 <button class="btn btn-primary" (click)="ShowAllProducts()">Mostrar todo</button>
 </div>
</div>
<div class="row">
<table class="table table-striped table-default">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">slug</th>
      <th scope="col">stock</th>
      <th scope="col">Tamaño</th>
      <th scope="col">Marca</th>
      <th scope="col">Precio normal</th>
      <th scope="col">Precio descuento</th>
      <th scope="col">Imagen</th>
      <th scope="col">Editar</th>
      <th scope="col">Visibilidad</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-striped" *ngFor="let producto of productos | paginate: {  itemsPerPage: 12,currentPage: page,totalItems: total}">
      <th scope="row">{{producto.id_product}}</th>
      <td>{{producto.slug}}</td>
      <td>{{producto.stock}}</td>
      <td>{{producto.size}}</td>
      <td>{{producto.brand}}</td>
      <td>{{producto.sales_price}}</td>
      <td>{{producto.discount_price}}</td>
      <td><img src="{{producto.url_img}}" style="height: 120px; width: auto;"></td>
        <td>
        <button (click)="ModificarProducto(producto.id_product)" mat-fab color="primary" 
                        aria-label="Example icon button with a delete icon">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
                <td>
                    <button (click)="OcultarMostrarProducto(producto.id_product)" mat-fab color="accent"
                        aria-label="Example icon button with a delete icon">
                        <mat-icon> {{ VisibilidadProducto(producto.visible) ? 'visibility' : 'visibility_off'}} </mat-icon>
                    </button>

                </td>
    </tr>
  </tbody>
</table>
<pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="page = $event">
    </pagination-controls>
</div>
</div>
