<div *ngIf="Islogged">

</div>
<section id="portfolio" name="portfolio" class="portfolio section-bg">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <!--Filtro Marca-->
    <div class="col-sm">
      <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <mat-select [(value)]="brand">
          <mat-option [value]="">No buscar</mat-option>
          <mat-option *ngFor="let brand of brands" [value]="brand.brand">
            {{brand.brand}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--FIN-->

    <!--Filtro Tamaño-->
    <div class="col-sm">
      <mat-form-field appearance="fill">
        <mat-label>Tamaño</mat-label>
        <mat-select [(value)]="size">
          <mat-option [value]="">No buscar</mat-option>
          <mat-option *ngFor="let size of sizes" [value]="size.size">
            {{size.size}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--FIN-->
    <div class="col-sm">
      <button (click)="BuscarProducts()" class="btn btn-dark btn-large">Buscar</button>
      <button (click)=" MostrarTodo()" class="ml-3  btn btn-dark btn-large">Mostrar todo</button>
    </div>


    <div class="mt-1 section-title text-center" style="color:black">
      <h2 style="color:black">La mejor calidad, la encuentras en IW-Fashion</h2>
      <p>¡Elige tu prenda favorita y sorprende a todos con tu nuevo look! </p>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul id="portfolio-flters">
          <!--
              <li>
              <mat-form-field appearance="fill">
              <mat-label style="font-size: 16px">Talla</mat-label>
              <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1" style="font-size: 16px">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
              </mat-select>
              </mat-form-field>
              <p>You selected: {{selected}}</p></li>
              <li > <mat-form-field appearance="fill">
              <mat-label style="font-size: 16px">Marca</mat-label>
              <mat-select [(value)]="selected1">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
              </mat-select>
              </mat-form-field>
              <p>You selected: {{selected1}}</p></li>
              -->
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">





      <div *ngFor="let item of productos | paginate: {  itemsPerPage: 12,currentPage: page,totalItems: total}"
        class="col-lg-4 col-md-6 portfolio-item filter-app">
        <mat-card class="example-card h-100">
          <mat-card-header>
            <mat-card-title>
              <h2>{{item.product_type}}</h2>
            </mat-card-title>

            <!--Producto con descuento-->
            <mat-card-subtitle *ngIf="item.discount_price > 0; else SinDescuento">
              <h1 style="color:red">Antes: $<del>{{item.sales_price}}</del></h1>
              <strong>
                <h1>Ahora: ${{item.discount_price}}</h1>
              </strong>
            </mat-card-subtitle>
            <!-- Fin Producto con descuento-->

            <!--Div precio sin descuento-->
            <ng-template #SinDescuento>
              <mat-card-subtitle>
                <h1 class="text-white mt-4 mb-5">Precio: ${{item.sales_price}}</h1>
              </mat-card-subtitle>
            </ng-template>
            <!--Div precio sin descuento-->

          </mat-card-header>
          <div class="portfolio-wrap">
            <img src="{{item.url_img}}" class="img-fluid" alt="" style="border-radius: 2%; height: 300px; width: 100%;">
            <div class="portfolio-info">
              <!-- <h4>App 1</h4>
                <p>App</p> -->
              <div class="portfolio-links">
                <a href="{{item.url_img}}" data-gall="portfolioGallery" class="venobox" title="{{item.product_type}}"><i
                    class="icofont-eye"></i></a>
                <a title="More Details"><i (click)="NavigateProducto(item.id_product)"
                    class="icofont-external-link"></i></a>
              </div>
            </div>
          </div>
          <mat-card-footer>
            <!--  <h4 >
    {{item.description }}
    </h4> -->
            <br>
          </mat-card-footer>

        </mat-card>
      </div>

    </div>


    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="page = $event">
    </pagination-controls>


    <!--Inicio seccio  productos-->

    <!--
        <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <mat-card class="example-card">
  <mat-card-header >
    <mat-card-title  ><h2>Camisa polo morada</h2></mat-card-title>
    <mat-card-subtitle ><h1 >$35.00</h1></mat-card-subtitle>
  </mat-card-header>
 <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-eye"></i></a>
                  <a [routerLink]="'/detalle'" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
  <mat-card-footer >
    <h4 >
     Breve descripcion del articulo...a continuacion se muestra un pequeño mensaje 
    </h4>
  </mat-card-footer>
  
</mat-card>
      
          </div>
          

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="icofont-eye"></i></a>
                  <a [routerLink]="'detalle'" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="icofont-eye"></i></a>
                  <a [routerLink]="'detalle'" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="icofont-eye"></i></a>
                  <a [routerLink]="'detalle'" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="icofont-eye"></i></a>
                  <a [routerLink]="'detalle'" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="icofont-eye"></i></a>
                  <a [routerLink]="'detalle'" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="icofont-eye"></i></a>
                  <a [routerLink]="'detalle'" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="icofont-eye"></i></a>
                  <a [routerLink]="'detalle'" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="icofont-eye"></i></a>
                  <a [routerLink]="'detalle'" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->
    <!--Fin de seccion de productos-->

  </div>
</section><!-- End Our Portfolio Section -->



<!-- 
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-eye"></i></a>
                  <a [routerLink]="'/detalle'" title="More Details"><i class="icofont-external-link"></i></a>
                </div>
              </div>
            </div>
            -->