<!-- <div *ngIf="Islogged">
  <br> <br> <br> <br>
</div> -->
<main id="main">

  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Detalle Producto</h2>
        <ol>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="portfolio.html">Producto</a></li>
          <li>Detalle Producto</li>
        </ol>
      </div>

    </div>
  </section><!-- Breadcrumbs Section -->


  <!-- Nuevo detalle -->
  <div class="container ">


    <section class="text-center">

      <div class="row">
        <div class="col-6">

          <div id="carousel-thumb1" class="carousel slide carousel-fade carousel-thumbnails mb-5 pb-4"
            data-ride="carousel">
            <owl-carousel-o [options]="SlideOptions" autoplay="true">
              <ng-template carouselSlide>
                <div class="carouselSlide" style="height: 400px; width:450px">
                  <img src="{{productoActual.url_img}}">
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>

        <div class="col-6 text-center text-md-left">

          <!--*ngIf="productoActual.discount_price > 0"-->
          <h1
            class="h1-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-2 ml-xl-0 ml-4">
            {{productoActual.product_type}} </h1>

          <div *ngIf="productoActual.discount_price > 0; else SinDescuento">
            <span class="badge badge-success product mb-4 ml-2">SALE</span>
            <h3 class="h3-responsive text-center text-md-left mb-2 ml-xl-0 ml-4">
              <span class="red-text font-weight-bold">
                <strong>${{productoActual.discount_price}}</strong>
              </span>
              <span class="grey-text">
                <small>
                  <s>${{productoActual.sales_price}}</s>
                </small>
              </span>
            </h3>
          </div>

          <!--Div precio sin descuento-->
          <ng-template #SinDescuento>
            <p class="ml-xl-0 ml-4 mt-3" style="font-size: 12pt;"><strong>Precio: ${{productoActual.sales_price}} </strong></p>
          </ng-template>
          <!--Div precio sin descuento-->

          <div class="font-weight-normal">

            <p class="ml-xl-0 ml-4">{{productoActual.description}}</p>

            <!-- <p class="ml-xl-0 ml-4">
            <strong>Categoria: </strong>{{productoActual.sub_category}}</p> -->
            <!-- <p class="ml-xl-0 ml-4">
              <strong>Tipo: </strong>{{productoActual.product_type}}</p> -->
            <p class="ml-xl-0 ml-4">
              <strong>Marca: </strong>{{productoActual.brand}}</p>
            <p class="ml-xl-0 ml-4">
              <strong>Género: </strong>{{productoActual.gender}}</p>
            <p class="ml-xl-0 ml-4">
              <strong>Existencias: </strong>{{productoActual.stock}}</p>
            <p class="ml-xl-0 ml-4">
              <strong>Talla: </strong>{{productoActual.size}}</p>
            <p class="ml-xl-0 ml-4">
              <strong>Color: </strong>{{productoActual.color}}</p>

            <div class="mt-5">
              <!-- <p class="grey-text">Escoge tu talla:</p>
             <div class="row text-center text-md-left">
              <div class="col-md-2 col-12 ">
                <div class="form-group">
                  <input class="form-check-input" name="group100" type="radio" id="radio100" checked="checked">
                  <label for="radio100" class="form-check-label dark-grey-text">S</label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <input class="form-check-input" name="group100" type="radio" id="radio101">
                  <label for="radio101" class="form-check-label dark-grey-text">M</label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <input class="form-check-input" name="group100" type="radio" id="radio102">
                  <label for="radio102" class="form-check-label dark-grey-text">L</label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <input class="form-check-input" name="group100" type="radio" id="radio103">
                  <label for="radio103" class="form-check-label dark-grey-text">XL</label>
                </div>
              </div>
            </div> -->
              <div class="row mt-3 mb-4">
                <div class="col-md-12 text-center text-md-left text-md-right">
                  <button (click)="agregarBolsa(productoActual)" class="btn btn-primary btn-rounded">
                    <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Agregar al carrito</button>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </section>



  </div>
  <!-- Nuevo detalle -->




</main><!-- End #main -->