
 <main id="main" style="margin-top:100px">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->
  
 <section class="portfolio-details">
      <div class="container">

  <div class="portfolio-details-container">

<div class="cotainer-carousel">
  <owl-carousel-o [options]="SlideOptions" autoplay="true">
    <ng-template carouselSlide>
        <div class="slide">
            <img src="{{productoActual.url_img}}">
        </div>
    </ng-template>
   
  
</owl-carousel-o>  
</div>
         <div class="portfolio-info">
            <h3>Detalle producto</h3>
            <ul>
              <li><strong>Precio Antes: </strong>: <del>{{productoActual.sales_price}}</del></li>
              <li><strong>Precio Ahora: </strong>: {{productoActual.discount_price}}</li>
              <li><strong>Categoria</strong>: {{productoActual.sub_category}}</li>
              <li><strong>Tipo</strong>: {{productoActual.product_type}}</li>
              <li><strong>Marca</strong>: {{productoActual.brand}}</li>
               <li><strong>Genero</strong>: {{productoActual.gender}}</li>
               <li><strong>Talla</strong>: {{productoActual.size}}</li>
                 <li><strong>Stock</strong>: {{productoActual.stock}}</li>
              <li><strong>Agregar al carritoL</strong>: <a href="#">ir</a></li>
            </ul>
          </div> 
</div>

  
 
        

        <div class="portfolio-description">
          <h2>{{productoActual.slug}}</h2>
          <h3>
           {{productoActual.description}}</h3>
        </div>
      </div>
    </section>



  </main><!-- End #main -->

